<div class="popup-item" id="{{ popupid }}">
	<div class="popup-close">
		{% render 'close-icon' %}
	</div>
	<div class="product-wrapper">
		<div class="popup-image">
			<img src="{{ product.featured_image | image_url: width: 120, height: 140, crop: 'center' }}"
			     alt="Hotspot image"/>
		</div>
		<div class="popup-product">
			<div class="popup-product-title">
				{{ product.title }}
			</div>
			<div class="popup-product-price">
				{{ product.price | money }}
			</div>
			<div class="popup-product-description">
				{{ product.description | strip_html | truncatewords: 15 }}
			</div>
		</div>
	</div>
	<div class="popup-item-variants">

		{% for option in product.options_with_values %}
			{% if option.name == 'Color' %}
				<label>Color</label>
				<div class="popup-item-variant popup-variant-swatch">
					{% for value in option.values %}
						<div class="popup-item-variant-color">
							<span class="color-code" style="background-color: {{ value | downcase }};"></span>
							{{ value }}
						</div>
					{% endfor %}
				</div>
			{% endif %}

			{% for option in product.options %}
				{% if option.name == 'Size' %}
					<div class="popup-item-variant popup-variant-dropdown">
						<label>Size</label>
						<select class="popup-item-variant-select">
							{% for value in option.values %}
								<option value="{{ value }}">{{ value }}</option>
							{% endfor %}
						</select>
					</div>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</div>
</div>