{{ 'ecom-banner.css' | asset_url | stylesheet_tag }}
<style>
    .ecom-container {
        max-width: {{ section.settings.container_width }}px;
    }

    .ecom-banner-section {
        background-image: url({{ section.settings.banner_image | img_url: '2048x' }});
    }
    .ecom-banner-button
    {
        background-color: {{ section.settings.button_color }};

    }
    .ecom-banner-button:hover {
        
    }

    .ecom-banner-announcement {
        background-color: {{ section.settings.announcement_background_color }};
    }
</style>

<section class="ecom-banner-section">
	<div class="ecom-banner-announcement">
		<div class="ecom-container">
			<div class="ecom-banner-announcement-wrapper">
				{% if section.settings.announcement_logo %}
					<img src="{{ section.settings.announcement_logo | img_url: '300x' }}" alt="Announcement Logo"
					     class="ecom-banner-logo">
				{% endif %}
				<p class="ecom-banner-text">{{ section.settings.announcement_text }}</p>
				<a href="{{ section.settings.button_link }}" class="ecom-banner-button">
					{{ section.settings.button_text }}
                    {% render 'right-arrow-icon' %}
				</a>
			</div>
		</div>
	</div>
</section>

{% schema %}
{
  "name": "Ecom Banner",
  "settings": [
    {
      "type": "range",
      "id": "container_width",
      "label": "Container Width",
      "default": 1200,
      "min": 1000,
      "max": 1900,
      "step": 50
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
    {
      "type": "header",
      "content": "Banner announcement bar"
    },
    {
      "type": "color",
      "id": "announcement_background_color",
      "label": "Announcement Background Color",
      "default": "#F5F5F5"
    },
    {
      "type": "image_picker",
      "id": "announcement_logo",
      "label": "Announcement Logo"
    },
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement Text",
      "default": "Free shipping on orders over $50"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Background Color",
      "default": "#fff544"
    },
    {
      "type": "color",
      "id": "button_hover_color",
      "label": "Button Hover Color",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "Ecom Banner",
      "category": "Custom"
    }
  ]
}
{% endschema %}
